<style>
    
    .navbar {
    height: 6rem;
    background-color: white;
}

.navbar-collapse {
    background-color: white;
    align-items: center;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    a {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
}



/* Search */
.search-box {
    border-radius: 35px !important;
    display: flex !important;
    padding: 0% !important;
    height: 4rem !important;
    transition: background-color 0.5s ease !important;

    &:hover {
        background-color: #DEDEDE;
    }
}

.inner-search-box {
    border: 0px !important;
    height: 3.9rem !important;
    padding-right: 0% !important;
}

.search-inp {
    border: 0px !important;
    border-radius: 35px !important;
    margin-right: 0.1rem;
    padding-right: 0% !important;
    transition: background-color 0.5s ease !important;

    &:hover {
        background-color: #DEDEDE;
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important;
        background-color: #DEDEDE !important;
    }
}

.search-btn {
    background-color: #fe424d !important;
    color: white !important;

    p {
        margin: auto;
        display: none;
    }
}

.unclicked {
    border-radius: 50% !important;
    margin: 0.75rem !important;
}

.clicked {
    border-radius: 2rem !important;
    margin: 0.4rem !important;
    display: flex !important;
    align-items: center;
}

/* Nav-Links */
.nav-link {
    color: black !important;
    /* To override custom styling of bootstrap */
    border-radius: 20rem;
    padding: 0.5rem 1rem !important;
    align-items: center !important;
    align-content: center !important;
    transition: background-color 0.5s ease !important;

    &:hover {
        background-color: #F0F0F0;
    }
}

.nav-link-btn {
    border: 1px solid rgb(192, 192, 192) !important;
    margin-left: 0.2rem;
    transition: box-shadow 0.5s ease !important;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        background-color: white !important;
    }
}
   
</style>




<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>



      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Search Bar -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" method="get" action="/listings/search">
          <div class="form-control search-box" id="search-box">
            <div class="form-control search-box inner-search-box">
              <input class="form-control search-inp" type="search" placeholder="Search destinations" name="destination">
              <input class="form-control search-inp" type="search" placeholder="Search country" name="country">
              <input class="form-control search-inp" type="search" placeholder="Search city" name="city">
            </div>
            <button class="btn search-btn unclicked" id="search-btn" type="submit">
              <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
              <p id="search">&nbsp;&nbsp;&nbsp;Search</p>
            </button>
          </div>
        </form>
      </div>

     






      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">List Your Home</a>
        <% if(!currUser) { %>

        <a class="nav-link" href="/signup"><b> Signup </b></a>
        <a class="nav-link" href="/login"> <b> Log In </b> </a>
        <% } %>

        <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b> Log Out </b></a>
        <% } %>


      </div>
    </div>
  </div>
</nav>
